{% extends 'base.html' %}
{% block title %}
<title>Tableau de bord</title>
{% endblock %}


{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<!--https://ionic.io/ionicons-->
	<div class="containerdash">
		<div class="navigate">
			<ul>
				<li>
					<a href="#">
						<div class="user" style="margin-top:10px;">
							<img src="{% static 'images/logo.jpg' %}">
						</div>
						<span class="title" style="color: #f99d0a; font-size:25px">IDSI</span>
					</a>

				</li>
				<li>
					<a href="/dash/dashboard/">
						<span class="icon"><ion-icon name="home-outline"></ion-icon></span>
						<span class="title">Tableau de bord</span>
					</a>

				</li>
				<li>
					<a href="/admin/">
						<span class="icon"><ion-icon name="person-outline"></ion-icon></span>
						<span class="title">Espace Adminitrateur</span>
					</a>

				</li>
				<li>
					<a href="/dash/message">
						<span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
						<span class="title">Message</span>
					</a>

				</li>

				<li>
					<a href="/dash/profile">
						<span class="icon"><ion-icon name="person-sharp"></ion-icon></span>
						<span class="title">Profile</span>
					</a>

				</li>
				<li>
					<a href="/dash/aide/">
						<span class="icon"><ion-icon name="help-outline"></ion-icon></span>
						<span class="title">Aide</span>
					</a>

				</li>
				<!--<li>
					<a href="#">
						<span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
						<span class="title">Setting</span>
					</a>

				</li>-->

				<li>
					<a href=" /">
						<span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
						<span class="title">Se deconnecter</span>
					</a>

				</li>
			</ul>

		</div>

		<!-- main -->
		<div class="main">
			<div class="topbar">
				<div class="toggle">
					<ion-icon name="menu-outline"></ion-icon>
				</div>
				<!--search-->
				<div class="search">
					<label>
						<input type="text" placeholder="Recherche..."/>
						<ion-icon name="search-outline"></ion-icon>
					</label>
				</div>
				<!--UserImg-->
				<div class="user">
					<img src="{% static 'images/user.jpg' %}">
				</div>

			</div>

			<!-- card-->
			<div class="cardBox">
				<div class="cardb">
					<div>
						<div class="numbers">1,504</div>
						<div class="cardName">Historique</div>
					</div>
					<div class="iconBox">
						<ion-icon name="analytics-outline"></ion-icon>
					</div>
				</div>

				<div class="cardb">
					<div>
						<div class="numbers">80</div>
						<div class="cardName">Emprunt</div>
					</div>
					<div class="iconBox">
						<ion-icon name="eye-outline"></ion-icon>
					</div>
				</div>

				<div class="cardb">
					<div>
						<div class="numbers">280</div>
						<div class="cardName">Nouvauté</div>
					</div>
					<div class="iconBox">
						<ion-icon name="add-circle-outline"></ion-icon>
					</div>
				</div>

				<div class="cardb">
					<div>
						<div class="numbers"></div>
						<div class="cardName">Livres proposés</div>
					</div>
					<div class="iconBox">
						<ion-icon name="book-outline"></ion-icon>
					</div>
				</div>
			</div>


			<!--Data list-->
			<style>
				.cardContainer
				{
					display:flex;
					flex-wrap: wrap;
					justify-content: space-around;
				}
				.book:hover
				{
					border: 2px solid #f99d0a;

				}

			</style>
			<div class="cardContainer" style="flex-wrap: wrap;">
				{% for b in book %}
				<div class="card book" style="width: 16rem; text-align:center; margin:10px;" >
					<img src="/media/{{b.photo}}" class="card-img-top" alt="book" width="30px" height="160px">
					<div class="card-body">
						<h6 class="card-title" style="color: blue">Auteur - {{b.auteur}}</h6>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="/dash/reserver" class="btn btn-outline-primary">Reserver</a>
					</div>
				</div>
				{% endfor %}
			 <div>
		</div>

	</div>

	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script type="text/javascript">
    	//Menu toggle
    	let toggle = document.querySelector('.toggle')
    	let navigation = document.querySelector('.navigation')
    	let main = document.querySelector('.main')


    	toggle.onclick = function()
    	{
    		navigation.classList.toggle('active')
    		main.classList.toggle('active')
    	}
    	//add hovered  class in selected list item

    	let list = document.querySelectorAll('.navigation li');
    	function activeLink()
    	{
    		list.forEach((item) =>
    		item.classList.remove('hovered'));
    		this.classList.add('hovered')
    	}
    	list.forEach((item)=>
    		item.addEventListener('mouseover', activeLink))
    </script>
{% endblock %}
