{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
<h1>ADMIN IDSI</h1>
{% endblock %}

{% block content %}
<h1> je suis</h1>
{% endblock %}

{% block extrastyle %}
<style>
    body{
	background: linear-gradient(black,#bedef4);
    }
    #header {
    background-color: #0e3b5e;
    border-radius: 10px;
    }
    #id_username,#id_password{
    border-radius: 10px;
    background: #2c3e50;
    }
    #id_username:hover{
     background: white;
     font-size: 20px;
     color: blue;
    }
    #id_password:hover{
     background: white;
     font-size: 20px;
     color: blue;
    }

    #branding h1{
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
    }
    #content h1{
    color:  #f99d0a;
    text-transform:uppercase;
    }
    #content-main{
    text-align:center;
    }
    #content-main caption{
    background-color: #0e3b5e;
    }

    #recent-actions-module{
    display:none;
    }
</style>
{% endblock %}